In [184]:
import numpy as np
import pandas as pd

In [185]:
#reading the data
df=pd.read_csv('AIML_res.csv')
df=df.drop(['Unnamed: 0'],axis=1)

# Getting Insights about the data

In [186]:
df.head(50)

,Student_Id,Sem,subject code,subject,subject_short,grade,credits
0,21pa1a6101,I B.Tech - I Semester,20BS1T01,COMMUNICATIVE ENGLISH,CE,A,3
1,21pa1a6101,I B.Tech - I Semester,20CS1T01,COMPUTATIONAL THINKING & PROGRAMMING,CT&P,A,3
2,21pa1a6101,I B.Tech - I Semester,20BS1T04,APPLIED PHYSICS,AP,O,3
3,21pa1a6101,I B.Tech - I Semester,20EE1T01,ELEMENTS OF ELECTRICAL AND ELECTRONICS ENGIN...,EEEE,A,3
4,21pa1a6101,I B.Tech - I Semester,20BS1T02,MATHEMATICS-I (LINEAR ALGEBRA & CALCULUS),M-I,O,3
5,21pa1a6101,I B.Tech - I Semester,20CS1P01,COMPUTATIONAL THINKING & PROGRAMMING LAB,CT&P Lab,O,1.5
6,21pa1a6101,I B.Tech - I Semester,20BS1P04,APPLIED PHYSICS LAB,AP Lab,O,1.5
7,21pa1a6101,I B.Tech - I Semester,20BS1P01,ENGLISH COMMUNICATION SKILLS LAB,ECS Lab,O,1.5
8,21pa1a6101,I B.Tech - I Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 9.08
9,21pa1a6101,I B.Tech - II Semester,20BS2T01,MATHEMATICS-II (VECTOR CALCULUS & TRANSFORM ...,M-II,O,3
10,21pa1a6101,I B.Tech - II Semester,20IT2T01,PROGRAMMING FOR PROBLEM SOLVING,PPS,S,3
11,21pa1a6101,I B.Tech - II Semester,20BS2T04,APPLIED CHEMISTRY,AC,A,3
12,21pa1a6101,I B.Tech - II Semester,20BS2T07,ENVIRONMENTAL SCIENCE,ES,P,--
13,21pa1a6101,I B.Tech - II Semester,20EC2T02,DIGITAL LOGIC DESIGN,DLD,O,3
14,21pa1a6101,I B.Tech - II Semester,20IT2P01,PROGRAMMING FOR PROBLEM SOLVING LAB,PPS LAB,O,1.5
15,21pa1a6101,I B.Tech - II Semester,20CS2P03,COMPUTER ENGINEERING WORKSHOP LAB,CEW LAB,O,3
16,21pa1a6101,I B.Tech - II Semester,20CS2P04,ADVANCED PYTHON PROGRAMMING LAB,APP LAB,O,1.5
17,21pa1a6101,I B.Tech - II Semester,20BS2P03,APPLIED CHEMISTRY LAB,AC LAB,O,1.5
18,21pa1a6101,I B.Tech - II Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 9.54
19,21pa1a6101,II B.Tech - I Semester,20IT3T01,Database Management Systems,DBMS,S,3
20,21pa1a6101,II B.Tech - I Semester,20IT3T02,Object Oriented Programming through Java,OOPthJAVA,S,3
21,21pa1a6101,II B.Tech - I Semester,20BS3T02,Probability & Statistics,P & S,S,3
22,21pa1a6101,II B.Tech - I Semester,20BS3A01,Constitution of India,COI,P,--
23,21pa1a6101,II B.Tech - I Semester,20IT3P02,Object Oriented Programming through Java Lab,OOP th Java Lab,O,1.5
24,21pa1a6101,II B.Tech - I Semester,20BS3T04,Discrete Mathematical Structures,DMS,S,3
25,21pa1a6101,II B.Tech - I Semester,20IT3P01,Database Management Systems Lab,DBMS Lab,O,1.5
26,21pa1a6101,II B.Tech - I Semester,20CS3T01,Data Structures,DS,A,3
27,21pa1a6101,II B.Tech - I Semester,20CS3P01,Data Structures Lab,DS Lab,O,1.5
28,21pa1a6101,II B.Tech - I Semester,20CS3P02,Web Application Development Using Full Stack...,WADUFSM-I,O,2
29,21pa1a6101,II B.Tech - I Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 9.16
30,21pa1a6101,II B.Tech - II Semester,20CS4T02,Operating Systems,OS,A,3
31,21pa1a6101,II B.Tech - II Semester,20AD4T01,Data warehousing and Mining,DWH&M,A,3
32,21pa1a6101,II B.Tech - II Semester,20AM4T01,Fundamentals of ArtificialIntelligence & Mac...,FAI&ML,O,3
33,21pa1a6101,II B.Tech - II Semester,20IT4T01,Software Engineering,SE,A,3
34,21pa1a6101,II B.Tech - II Semester,20CS4P02,OS Lab,OS Lab,O,1.5
35,21pa1a6101,II B.Tech - II Semester,20AM4P01,Fundamentals of ArtificialIntelligence & Mac...,FAI&ML Lab,O,1.5
36,21pa1a6101,II B.Tech - II Semester,20AD4P01,Data Mining using Python Lab,DMP Lab,O,1.5
37,21pa1a6101,II B.Tech - II Semester,20HS4A01,Critical Reading and Creative Writing,CR&CW,P,--
38,21pa1a6101,II B.Tech - II Semester,20IT4P03,Web Application Development Using Full Stack...,WADUFSM-II,O,2
39,21pa1a6101,II B.Tech - II Semester,20AM4J01,Community Service Project,CSP,O,4
40,21pa1a6101,II B.Tech - II Semester,20HS4T01,Universal Human Values II,UHV-II,S,3
41,21pa1a6101,II B.Tech - II Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 9.18
42,21pa1a6102,I B.Tech - I Semester,20BS1T01,COMMUNICATIVE ENGLISH,CE,S,3
43,21pa1a6102,I B.Tech - I Semester,20CS1T01,COMPUTATIONAL THINKING & PROGRAMMING,CT&P,B,3
44,21pa1a6102,I B.Tech - I Semester,20BS1T04,APPLIED PHYSICS,AP,A,3
45,21pa1a6102,I B.Tech - I Semester,20EE1T01,ELEMENTS OF ELECTRICAL AND ELECTRONICS ENGIN...,EEEE,C,3
46,21pa1a6102,I B.Tech - I Semester,20BS1T02,MATHEMATICS-I (LINEAR ALGEBRA & CALCULUS),M-I,A,3
47,21pa1a6102,I B.Tech - I Semester,20CS1P01,COMPUTATIONAL THINKING & PROGRAMMING LAB,CT&P Lab,O,1.5
48,21pa1a6102,I B.Tech - I Semester,20BS1P04,APPLIED PHYSICS LAB,AP Lab,S,1.5
49,21pa1a6102,I B.Tech - I Semester,20BS1P01,ENGLISH COMMUNICATION SKILLS LAB,ECS Lab,O,1.5

In [187]:
df.describe()

,Student_Id,Sem,subject code,subject,subject_short,grade,credits
count,2749,2749,2749,2749,2749,2749,2749
unique,66,4,39,39,39,9,123
top,21pa1a6101,II B.Tech - II Semester,0,0,0,O,3
freq,42,780,262,262,262,804,1290

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2749 entries, 0 to 2748
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student_Id     2749 non-null   object
 1   Sem            2749 non-null   object
 2   subject code   2749 non-null   object
 3   subject        2749 non-null   object
 4   subject_short  2749 non-null   object
 5   grade          2749 non-null   object
 6   credits        2749 non-null   object
dtypes: object(7)
memory usage: 150.5+ KB

# Normalising and Preprocessing

In [189]:
#seperating the cgpas of each sem from the whole data
cgpas=pd.DataFrame([],columns=df.columns)
for i,row in df.iterrows():
    if(row[3]=='0' and row[4]=='0'):
        df.drop([i],inplace=True)
        cgpas.loc[len(cgpas.index)]=row
cgpas['credits'].unique()

array(['Semester Grade Point Average(SGPA) : 9.08',
       'Semester Grade Point Average(SGPA) : 9.54',
       'Semester Grade Point Average(SGPA) : 9.16',
       'Semester Grade Point Average(SGPA) : 9.18',
       'Semester Grade Point Average(SGPA) : 8.08',
       'Semester Grade Point Average(SGPA) : 8.77',
       'Semester Grade Point Average(SGPA) : 8.49',
       'Semester Grade Point Average(SGPA) : 9.24',
       'Semester Grade Point Average(SGPA) : 8',
       'Semester Grade Point Average(SGPA) : 8.69',
       'Semester Grade Point Average(SGPA) : 8.74',
       'Semester Grade Point Average(SGPA) : 8.41',
       'Semester Grade Point Average(SGPA) : 6.15',
       'Semester Grade Point Average(SGPA) : 6.62',
       'Semester Grade Point Average(SGPA) : 6.4',
       'Estimated Semester Grade Point Average(SGPA) : 7.31',
       'Semester Grade Point Average(SGPA) : 8.62',
       'Semester Grade Point Average(SGPA) : 8.85',
       'Semester Grade Point Average(SGPA) : 8.88',
       'Semester Grade Point Average(SGPA) : 8.55',
       'Semester Grade Point Average(SGPA) : 9.15',
       'Semester Grade Point Average(SGPA) : 9.23',
       'Semester Grade Point Average(SGPA) : 8.93',
       'Semester Grade Point Average(SGPA) : 8.65',
       'Semester Grade Point Average(SGPA) : 8.23',
       'Semester Grade Point Average(SGPA) : 8.92',
       'Semester Grade Point Average(SGPA) : 9.3',
       'Semester Grade Point Average(SGPA) : 8.9',
       'Semester Grade Point Average(SGPA) : 8.46',
       'Semester Grade Point Average(SGPA) : 7.69',
       'Semester Grade Point Average(SGPA) : 8.44',
       'Semester Grade Point Average(SGPA) : 8.71',
       'Semester Grade Point Average(SGPA) : 9.09',
       'Semester Grade Point Average(SGPA) : 8.82',
       'Semester Grade Point Average(SGPA) : 9.06',
       'Semester Grade Point Average(SGPA) : 9.2',
       'Semester Grade Point Average(SGPA) : 9.07',
       'Semester Grade Point Average(SGPA) : 9.02',
       'Semester Grade Point Average(SGPA) : 9',
       'Semester Grade Point Average(SGPA) : 9.38',
       'Semester Grade Point Average(SGPA) : 9.58',
       'Semester Grade Point Average(SGPA) : 9.29',
       'Semester Grade Point Average(SGPA) : 7.62',
       'Semester Grade Point Average(SGPA) : 8.3',
       'Semester Grade Point Average(SGPA) : 7.38',
       'Semester Grade Point Average(SGPA) : 7.85',
       'Semester Grade Point Average(SGPA) : 7.67',
       'Semester Grade Point Average(SGPA) : 8.76',
       'Semester Grade Point Average(SGPA) : 7.31',
       'Semester Grade Point Average(SGPA) : 7.46',
       'Estimated Semester Grade Point Average(SGPA) : 7.59',
       'Estimated Semester Grade Point Average(SGPA) : 7.2',
       'Semester Grade Point Average(SGPA) : 7.15',
       'Semester Grade Point Average(SGPA) : 7',
       'Semester Grade Point Average(SGPA) : 7.23',
       'Semester Grade Point Average(SGPA) : 7.94',
       'Semester Grade Point Average(SGPA) : 9.72',
       'Semester Grade Point Average(SGPA) : 8.15',
       'Semester Grade Point Average(SGPA) : 6.92',
       'Semester Grade Point Average(SGPA) : 7.08',
       'Estimated Semester Grade Point Average(SGPA) : 7.38',
       'Estimated Semester Grade Point Average(SGPA) : 7.65',
       'Semester Grade Point Average(SGPA) : 7.65',
       'Estimated Semester Grade Point Average(SGPA) : 8.42',
       'Semester Grade Point Average(SGPA) : 9.51',
       'Semester Grade Point Average(SGPA) : 9.53',
       'Estimated Semester Grade Point Average(SGPA) : 7.55',
       'Semester Grade Point Average(SGPA) : 7.37',
       'Semester Grade Point Average(SGPA) : 7.92',
       'Semester Grade Point Average(SGPA) : 8.26',
       'Semester Grade Point Average(SGPA) : 8.33',
       'Semester Grade Point Average(SGPA) : 8.67',
       'Estimated Semester Grade Point Average(SGPA) : 7.49',
       'Estimated Semester Grade Point Average(SGPA) : 7.56',
       'Semester Grade Point Average(SGPA) : 6.69',
       'Estimated Semester Grade Point Average(SGPA) : 7.3',
       'Semester Grade Point Average(SGPA) : 9.44',
       'Semester Grade Point Average(SGPA) : 8.38',
       'Semester Grade Point Average(SGPA) : 8.47',
       'Semester Grade Point Average(SGPA) : 8.53',
       'Semester Grade Point Average(SGPA) : 9.86',
       'Semester Grade Point Average(SGPA) : 9.35',
       'Semester Grade Point Average(SGPA) : 8.02',
       'Semester Grade Point Average(SGPA) : 8.31',
       'Estimated Semester Grade Point Average(SGPA) : 7.18',
       'Estimated Semester Grade Point Average(SGPA) : 7.42',
       'Semester Grade Point Average(SGPA) : 7.25',
       'Semester Grade Point Average(SGPA) : 7.14',
       'Semester Grade Point Average(SGPA) : 7.53',
       'Estimated Semester Grade Point Average(SGPA) : 6.45',
       'Semester Grade Point Average(SGPA) : 6.85',
       'Estimated Semester Grade Point Average(SGPA) : 6.86',
       'Semester Grade Point Average(SGPA) : 7.2',
       'Semester Grade Point Average(SGPA) : 8.07',
       'Semester Grade Point Average(SGPA) : 7.73',
       'Semester Grade Point Average(SGPA) : 8.51',
       'Semester Grade Point Average(SGPA) : 7.21',
       'Estimated Semester Grade Point Average(SGPA) : 7.8',
       'Semester Grade Point Average(SGPA) : 8.12',
       'Semester Grade Point Average(SGPA) : 7.7',
       'Semester Grade Point Average(SGPA) : 8.59',
       'Semester Grade Point Average(SGPA) : 8.05',
       'Semester Grade Point Average(SGPA) : 8.35',
       'Semester Grade Point Average(SGPA) : 8.54',
       'Semester Grade Point Average(SGPA) : 8.24',
       'Semester Grade Point Average(SGPA) : 7.77',
       'Semester Grade Point Average(SGPA) : 8.21',
       'Estimated Semester Grade Point Average(SGPA) : 8.77',
       'Estimated Semester Grade Point Average(SGPA) : 9.15',
       'Semester Grade Point Average(SGPA) : 7.82',
       'Semester Grade Point Average(SGPA) : 8.28',
       'Semester Grade Point Average(SGPA) : 7.63',
       'Estimated Semester Grade Point Average(SGPA) : 7.04',
       'Semester Grade Point Average(SGPA) : 8.94',
       'Semester Grade Point Average(SGPA) : 8.98',
       'Semester Grade Point Average(SGPA) : 6.88',
       'Estimated Semester Grade Point Average(SGPA) : 7.36'],
      dtype=object)

In [190]:
creditless=df[df.credits=='--']
df=df[df.credits!='--']

In [191]:
df[['credits']]=df[['credits']].apply(pd.to_numeric)

In [192]:
df.describe()

           credits
count  2295.000000
mean      2.425926
std       0.789509
min       0.000000
25%       1.500000
50%       3.000000
75%       3.000000
max       4.000000

In [193]:
df

,Student_Id,Sem,subject code,subject,subject_short,grade,credits
0,21pa1a6101,I B.Tech - I Semester,20BS1T01,COMMUNICATIVE ENGLISH,CE,A,3.0
1,21pa1a6101,I B.Tech - I Semester,20CS1T01,COMPUTATIONAL THINKING & PROGRAMMING,CT&P,A,3.0
2,21pa1a6101,I B.Tech - I Semester,20BS1T04,APPLIED PHYSICS,AP,O,3.0
3,21pa1a6101,I B.Tech - I Semester,20EE1T01,ELEMENTS OF ELECTRICAL AND ELECTRONICS ENGIN...,EEEE,A,3.0
4,21pa1a6101,I B.Tech - I Semester,20BS1T02,MATHEMATICS-I (LINEAR ALGEBRA & CALCULUS),M-I,O,3.0
...,...,...,...,...,...,...,...
2742,21pa1a6166,II B.Tech - II Semester,20AM4P01,Fundamentals of ArtificialIntelligence & Mac...,FAI&ML Lab,S,1.5
2743,21pa1a6166,II B.Tech - II Semester,20AD4P01,Data Mining using Python Lab,DMP Lab,C,1.5
2745,21pa1a6166,II B.Tech - II Semester,20IT4P03,Web Application Development Using Full Stack...,WADUFSM-II,O,2.0
2746,21pa1a6166,II B.Tech - II Semester,20AM4J01,Community Service Project,CSP,S,4.0
2747,21pa1a6166,II B.Tech - II Semester,20HS4T01,Universal Human Values II,UHV-II,B,3.0

In [194]:
creditless

,Student_Id,Sem,subject code,subject,subject_short,grade,credits
12,21pa1a6101,I B.Tech - II Semester,20BS2T07,ENVIRONMENTAL SCIENCE,ES,P,--
22,21pa1a6101,II B.Tech - I Semester,20BS3A01,Constitution of India,COI,P,--
37,21pa1a6101,II B.Tech - II Semester,20HS4A01,Critical Reading and Creative Writing,CR&CW,P,--
54,21pa1a6102,I B.Tech - II Semester,20BS2T07,ENVIRONMENTAL SCIENCE,ES,P,--
64,21pa1a6102,II B.Tech - I Semester,20BS3A01,Constitution of India,COI,P,--
...,...,...,...,...,...,...,...
2687,21pa1a6165,II B.Tech - I Semester,20BS3A01,Constitution of India,COI,P,--
2702,21pa1a6165,II B.Tech - II Semester,20HS4A01,Critical Reading and Creative Writing,CR&CW,P,--
2719,21pa1a6166,I B.Tech - II Semester,20BS2T07,ENVIRONMENTAL SCIENCE,ES,P,--
2729,21pa1a6166,II B.Tech - I Semester,20BS3A01,Constitution of India,COI,P,--
2744,21pa1a6166,II B.Tech - II Semester,20HS4A01,Critical Reading and Creative Writing,CR&CW,P,--

In [195]:
cgpas

,Student_Id,Sem,subject code,subject,subject_short,grade,credits
0,21pa1a6101,I B.Tech - I Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 9.08
1,21pa1a6101,I B.Tech - II Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 9.54
2,21pa1a6101,II B.Tech - I Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 9.16
3,21pa1a6101,II B.Tech - II Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 9.18
4,21pa1a6102,I B.Tech - I Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 8.08
...,...,...,...,...,...,...,...
257,21pa1a6165,II B.Tech - II Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 9.53
258,21pa1a6166,I B.Tech - I Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 6.15
259,21pa1a6166,I B.Tech - II Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 7.23
260,21pa1a6166,II B.Tech - I Semester,0,0,0,0,Semester Grade Point Average(SGPA) : 6.88
261,21pa1a6166,II B.Tech - II Semester,0,0,0,0,Estimated Semester Grade Point Average(SGPA) :...

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2295 entries, 0 to 2747
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student_Id     2295 non-null   object
 1   Sem            2295 non-null   object
 2   subject code   2295 non-null   object
 3   subject        2295 non-null   object
 4   subject_short  2295 non-null   object
 5   grade          2295 non-null   object
 6   credits        2295 non-null   float64
dtypes: float64(1), object(6)
memory usage: 143.4+ KB

In [197]:
creditless.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 12 to 2744
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student_Id     192 non-null    object
 1   Sem            192 non-null    object
 2   subject code   192 non-null    object
 3   subject        192 non-null    object
 4   subject_short  192 non-null    object
 5   grade          192 non-null    object
 6   credits        192 non-null    object
dtypes: object(7)
memory usage: 12.0+ KB

In [198]:
cgpas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262 entries, 0 to 261
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student_Id     262 non-null    object
 1   Sem            262 non-null    object
 2   subject code   262 non-null    object
 3   subject        262 non-null    object
 4   subject_short  262 non-null    object
 5   grade          262 non-null    object
 6   credits        262 non-null    object
dtypes: object(7)
memory usage: 16.4+ KB

In [205]:
df.to_csv('CREDITS.csv',index=False)

In [200]:
cgpas.to_csv('CGPAS.csv',index=False)

In [201]:
creditless.to_csv('CREDTILESS.csv',index=False)

In [202]:
pwd

'C:\\Users\\manoj\\Documents'